<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Vehicle Info</key>
	<array>
		<string>Vehicle Axles|CONTROL:TWO/THREE</string>
		<string>Trailer Axles|CONTROL:ONE/TWO</string>
		<string>Air Brakes|CONTROL:YES/NO</string>
		<string>GVWR|INPUT:GVWR</string>
	</array>
	<key>Form A</key>
	<dict>
		<key>Front of Vehicle</key>
		<array>
			<string>lights &amp; reflectors (L-R-4-HL-HB-C)</string>
		</array>
		<key>Engine Compartment</key>
		<array>
			<string>oil level</string>
			<string>power steering fluid/belt</string>
			<string>water pump gear/belt</string>
			<string>leaks &amp; hoses</string>
			<string>coolant level</string>
			<string>alternator gear/belt</string>
			<string>*air compressor gear/belt</string>
		</array>
		<key>Steering</key>
		<array>
			<string>steering box &amp; hoses</string>
			<string>steering linkage</string>
		</array>
		<key>Front Axle</key>
		<array>
			<string>tongue or drawbar</string>
			<string>tires (T-C-P)</string>
			<string>rims</string>
			<string>lug nuts</string>
			<string>hub oil seal</string>
		</array>
		<key>Front Suspension</key>
		<array>
			<string>springs and shocks</string>
			<string>u-bolts</string>
			<string>spring mounts</string>
		</array>
		<key>Front Brake</key>
		<array>
			<string>brake hoses or lines</string>
			<string>*brake chamber</string>
			<string>*slack adjuster &amp; push-rod</string>
			<string>drum &amp; linings or rotor &amp; disk</string>
		</array>
	</dict>
	<key>All Vehicles</key>
	<array>
		<string>safety belt</string>
		<string>emergency equipment(F-E-T)</string>
		<string>safe start</string>
		<string>temperature guage</string>
		<string>oil pressure guage</string>
		<string>ammeter or motmeter garage</string>
		<string>air guage</string>
		<string>lighting indicators (L-R-4-H)</string>
		<string>horn(s)</string>
		<string>heater &amp; defroster</string>
		<string>windshield &amp; mirrors</string>
		<string>wipers &amp; washers</string>
		<string>parking brake</string>
		<string>*air brake check (L-A-B)</string>
	</array>
	<key>All Combination Vehicles</key>
	<dict>
		<key>Tractor/Semi-Trailer</key>
		<dict>
			<key>Tractor</key>
			<array>
				<string>air &amp; electric connectors &amp; lines</string>
			</array>
			<key>Tractor - Coupling System</key>
			<array>
				<string>mounting bolts</string>
				<string>platform</string>
				<string>locking jaws or lever</string>
				<string>release arm and safety latch</string>
				<string>5th wheel skid plate</string>
				<string>side 5th wheel pins (clearance)</string>
			</array>
			<key>Trailer</key>
			<array>
				<string>air &amp; electric connectors</string>
			</array>
			<key>Trailer - Coupling System</key>
			<array>
				<string>kingpin</string>
				<string>apron</string>
				<string>gap</string>
			</array>
		</dict>
		<key>Truck/Trailer</key>
		<dict>
			<key>Trailer</key>
			<array>
				<string>air &amp; electric connectors &amp; lines</string>
				<string>tongue storage area</string>
			</array>
			<key>Trailer - Coupling System</key>
			<array>
				<string>tongue or drawbar</string>
				<string>mounting bolts</string>
				<string>safety devices</string>
				<string>sliding pintle</string>
			</array>
			<key>Truck</key>
			<array>
				<string>air &amp; electric connectors</string>
			</array>
			<key>Truck - Coupling System</key>
			<array>
				<string>mounting bolts</string>
				<string>pintle hook</string>
				<string>hitch release lever</string>
				<string>safety devices</string>
			</array>
		</dict>
	</dict>
	<key>Form B</key>
	<dict>
        <key>Rear Axles</key>
        <array>
            <string>rear wheels (F / R)</string>
            <string>tires (T-C-P)</string>
            <string>rims</string>
            <string>lug nuts</string>
            <string>axle seal</string>
            <string>spacers or bud spacing</string>
        </array>
        <key>Driver/Fuel Area</key>
        <array>
            <string>door &amp; mirror</string>
            <string>fuel tank &amp; caps &amp; leaks</string>
            <string>catwalk &amp; steps</string>
            <string>lights and reflectors (L-E-4-C)</string>
        </array>
        <key>Under Vehicle</key>
        <array>
            <string>drive shaft</string>
            <string>exhaust system</string>
            <string>frame</string>
        </array>
        <key>Rear Suspension</key>
        <array>
            <string>springs &amp; airbags &amp; shocks</string>
            <string>u-bolts</string>
            <string>springs/air mounts &amp; torque arm</string>
        </array>
        <key>Rear Brakes</key>
        <array>
            <string>brake hoses or lines</string>
            <string>*brake chamber</string>
            <string>*slack adjustor &amp; push-rod</string>
            <string>drum &amp; linings or rotor &amp; disk</string>
        </array>
        <key>Rear of Vehicle</key>
        <array>
            <string>doors &amp; ties &amp; lift</string>
            <string>splash guards</string>
            <string>lights, reflectors, reflective tape (L-R-4-TL-BL-C)</string>
        </array>
	</dict>
    <key>Form C (Combinations)</key>
    <dict>
        <key>Trailer Front</key>
        <array>
            <string>header board or bulkhead</string>
            <string>lights &amp; reflectors (C)</string>
        </array>
        <key>Side of Trailer</key>
        <array>
            <string>landing gear</string>
            <string>doors &amp; ties &amp; lifts</string>
            <string>lights &amp; reflectors (L-R-4-C)</string>
            <string>frame &amp; tandem release</string>
        </array>
        <key>Trailer Axles</key>
        <array>
            <string>wheels (F/R)</string>
            <string>tires (T-C-P)</string>
            <string>rims</string>
            <string>lug nuts</string>
            <string>axle or hub oil seal</string>
            <string>spacers or bud spacing</string>
        </array>
        <key>Rear Suspension</key>
        <array>
            <string>springs &amp; airbags &amp; shocks</string>
            <string>u-bolts</string>
            <string>springs/air mounts &amp; torque arm</string>
        </array>
        <key>Rear Brakes</key>
        <array>
            <string>brake hoses or lines</string>
            <string>*brake chamber</string>
            <string>*slack adjustor &amp; push-rod</string>
            <string>drum &amp; linings or rotor &amp; disk</string>
        </array>
        <key>Rear of Vehicle</key>
        <array>
            <string>doors &amp; ties &amp; lift</string>
            <string>splash guards</string>
            <string>lights, reflectors, reflective tape (L-R-4-TL-BL-C)</string>
        </array>
    </dict>
    <key>All Passenger Vehicles</key>
    <dict>
        <key>Passenger Items Only</key>
        <dict>
            <key>Passenger Items</key>
            <array>
                <string>passenger entry &amp; lift</string>
                <string>emergency exits</string>
                <string>seating</string>
            </array>
            <key>Baggage Compartment</key>
            <array>
                <string>doors secure (baggage)</string>
                <string>steering linkage</string>
            </array>
        </dict>
        <key>School Bus Only</key>
        <dict>
            <key>Front Suspension</key>
            <array>
                <string>student lights (front, back)</string>
            </array>
            <key>Student Safety Items</key>
            <array>
                <string>stop arm &amp; safety arm</string>
                <string>student mirror</string>
                <string>emergency kit &amp; body fluid kit</string>
            </array>            
        </dict>
    </dict>
    
</dict>
</plist>
